h1, h2,h3, h4, h5, h6
{   font-family: "Franklin Gothic Medium";
    font-size: 17px; 
    font-style: italic;
    font-variant: normal;
    font-weight: 700;
    line-height: 17px; 
}
p, label, input, li, a
{   font-family: "Franklin Gothic Medium";
    font-size: 14px; 
    font-style: italic;
    font-variant: normal;
    font-weight: 300;
    line-height: 12px; 
}
title 
{
    font-family: "Franklin Gothic Medium";
    font-size: 20px; 
    font-style: italic;
    font-variant: normal;
    font-weight: 1200;
    line-height: 20px; 
}
.introduction
{
    background-color:#41aea9;
    border-color: 1px black;
    border-radius: 3px 3px 0 0;
    display: grid;
	text-align: center;
	align-content: center;
}
.navbar
{
	border-radius:3px 3px 0 0;
	grid-area: navbar;
	border-bottom: 1px solid black;
	display: flex;
    background-color:#ffd57e;
    justify-content: center;
	align-items: center;
}
#Zaybar a
{
	color: black;
}
#Zaybar ul
{
	margin:0;
	display: inline-flex;
}
#Zaybar ul li
{
    margin-right: 20px;
	margin-left: 20px;
    display: inline-flex;
    cursor: pointer;
}
footer
{
text-align: center;
}
.firstpage
{   background-color: beige;
    overflow: auto;
}
.profile2
{
    background-color: #ffd5cd;
    border: 1px;
    border-color: black;
    font-size: 16px ;
}
.profile1
{
    border: 1px;
    border-color: black;
    margin:auto;
}
#profilepic
{
    height: 300px;
    width: 225px;
}
.Personalskills
{
    background-color: #ccf6c8;
    text-align: center;
}
.LanguageSkills
{
    background-color:#fbe2e5;
    text-align: center;
}
.styleschool
{
    width:250px;
    height:200px;
}
.edbox
{
    border: 10px;
    border-color: black;
    background-color: #c3aed6;
}
.internship
{
    background-color:aqua;
    color:darkblue;
}
.stylesintern
{
    width: 350px;
    height: 225px;
}
.Unimenu
{
text-align: center;
background-color: #ccf6c8;
}
.codingmenu
{
    text-align: center;
    background-color: #ebdc87;
}
.inputid
{
    background-color: #a4b494;
}
#submit
{
    background-color: black;
    color: white;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.printmenu
{
    text-align: center;
    background-color:  #fff48f;
    color: #595238;
}
.printmess
{
    text-align: center;
    background-color: #e4e3e3;
    color: black;
}
.social
 {
    display: flex;
    justify-content: space-around;

}

.fa 
{
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    border-radius: 30%;
}

  .fa-instagram 
  {
    background: #c70039;
    color: rgb(214, 146, 82);
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-github {
    background:	#393e46;
    color: white;
  }
  .social
  {
    display: flex;
    justify-content: space-evenly;
  }
  .socialmedia
  {
      background-color: #ebdc87;
  }
.videostyle
{
    width:350px;
    height:275px; 
    margin: auto;
}